<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/frags :: head"></head>

<body>
<div th:insert="fragments/frags :: header"></div>

<h1>Ingredients</h1>
<br>

<img class="image" th:src="@{/img/chakalaka2.jpg}">

<p> Prep: 20min, Cook: 20min </p>
<br>

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">

                <p>1/4 cup of cooking oil</p>
                <br>
                <p>1 medium diced onion</p>
                <br>
                <p>1-2 teaspoon of curry powder</p>
                <br>
                <p>2 teaspoon garlic minced</p>
                <br>
                <p>1/2 teaspoon thyme</p>
                <br>
                <p>1/2 teaspoon smoked paprika</p>
                <br>
                <p>1 teaspoon cayenne pepper </p>
                <br>
                <p>1/2 teaspoon ginger minced</p>
                <br>
                <p>1-2 tomatoes</p>
                <br>
                <p>3-4 cups sliced cabbage (optional)</p>
                <br>
                <p>1-2 chili peppers diced seeds (removed for less heat)</p>
                <br>
                <p>1 large carrot grated or sliced thinly</p>
                <br>
                <p>1 medium green pepper diced</p>
                <br>
                <p>1 medium red pepper diced</p>
                <br>
                <p>1 14oz baked beans</p>
                <br>
                <p>1 teaspoon bouillon powder (optional)</p>

        </div>
    </div>
</main>

<div th:replace="fragments/frags :: footer"></div>

</body>
</html>