<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
<div th:insert="fragments/frags :: header"></div>

<h1>Preparation</h1>
<br>

<p>Step 1: To begin, prepare the vegetables. Cut the tomatoes, onions, and peppers into slices and grate the carrots.</p>
<br>

<p>Step 2: Next, heat the oil in a large saucepan over medium heat and add the onions, chilies, garlic, ginger, and leaf masala or curry powder.</p>
<br>

<p>Step 3: Sauté for 4 to 5 minutes until the onions are wilted, stirring frequently.</p>
<br>

<p>Step 4: Arrange the tomatoes and green peppers in a baking pan. Drizzle with some oil and grill for 5 minutes. Then, stir them into the onion-spice mixture.</p>
<br>

<p>Step 5: Simmer the vegetables for 5 minutes over low heat.</p>
<br>

<p>Step 6: Add baked beans and grated carrots. Season with salt and pepper and stir.</p>
<br>

<p>Step 7: Just before serving add chopped coriander. Serve hot or cold.</p>
<br>

<img class="image" th:src="@{/img/chakalaka.jpg}">

<div th:replace="fragments/frags :: footer"></div>

</body>
</html>